---
import Container from "./Container.astro";

---

<footer class="w-screen py-16 md:py-40 bg-black flex flex-col items-center">
    <h2 class="text-center text-white text-4xl font-thin mb-6">See if Designjoy is right for<br />you. (It totally is.)</h2>
    <p class="w-10/12 max-w-[500px] text-center font-light text-white mb-10">Get a guided tour through Designjoy, and find out how you and your
      team can change the way you source design, forever.</p>
    <button class="w-10/12 max-w-[500px] border border-white rounded-2xl py-6 mb-48 text-center text-white">Get started</button>
</footer>