---
---
<section class="w-full flex justify-center">
    <div class="w-5/6 max-w-[1200px] flex flex-col">
        <ul class="text-gray-500">
            <li class="p-6 border-b border-gray-100">
                <p class="text-2xl font-bold text-gray-800">Frequently asked questions</p>
            </li>
            <li class="grid grid-cols-1 lg:grid-cols-5 p-6 border-b border-gray-100">
                <p class="col-span-2 font-bold">What can you expect from Pixel Samy?</p>
                <p class="col-span-3">With all our subscription plans, you have the freedom to request as many videos as you like. We work on your videos, providing regular updates throughout the process.</p>
            </li>
            <li class="grid grid-cols-1 lg:grid-cols-5 p-6 border-b border-gray-100">
                <p class="col-span-2 font-bold">What can you expect from Pixel Samy?</p>
                <p class="col-span-3">With all our subscription plans, you have the freedom to request as many videos as you like. We work on your videos, providing regular updates throughout the process.</p>
            </li>
            <li class="grid grid-cols-1 lg:grid-cols-5 p-6 border-b border-gray-100">
                <p class="col-span-2 font-bold">What can you expect from Pixel Samy?</p>
                <p class="col-span-3">With all our subscription plans, you have the freedom to request as many videos as you like. We work on your videos, providing regular updates throughout the process.</p>
            </li>
            <li class="grid grid-cols-1 lg:grid-cols-5 p-6 border-b border-gray-100">
                <p class="col-span-2 font-bold">What can you expect from Pixel Samy?</p>
                <p class="col-span-3">With all our subscription plans, you have the freedom to request as many videos as you like. We work on your videos, providing regular updates throughout the process.</p>
            </li>
            <li class="grid grid-cols-1 lg:grid-cols-5 p-6">
                <p class="col-span-2 font-bold">What can you expect from Pixel Samy?</p>
                <p class="col-span-3">With all our subscription plans, you have the freedom to request as many videos as you like. We work on your videos, providing regular updates throughout the process.</p>
            </li>
        </ul>
    </div>
</section>