---
---
<nav class="w-fit hidden md:block px-12 py-4 bottom-8 fixed mx-auto rounded-3xl space-x-12 space-y-3 text-neutral-100 font-bold text-lg bg-black z-50 shadow-xl border border-neutral-400/50">
    <a class="hover:text-orange-300 duration-150 ease-out" href="#">Home</a>
    <a class="hover:text-orange-300 duration-150 ease-out" href="#">About</a>
    <a class="hover:text-orange-300 duration-150 ease-out" href="#">Work</a>
    <a class="hover:text-orange-300 duration-150 ease-out" href="#">Pricing</a>
    <a class="hover:text-orange-300 duration-150 ease-out" href="#">Reviews</a>
</nav>