---
---

<div class="flex flex-col items-center bg-black text-white pt-16 pb-32 relative overflow-hidden isolate">
  <div class="absolute top-5 -right-10 min-w-[450px] min-h-[80px] bg-orange-700 blur-3xl z-0"></div>
  <div class="absolute bottom-5 -left-10 min-w-[450px] min-h-[80px] bg-green-700 blur-3xl z-0"></div>
  <h2 class="text-4xl font-light mb-6">Recent Work</h2>
  <p class="font-light text-lg mb-4">Award winning videos, and nothing less.</p>
  <a class="bg-orange-500 text-white rounded-lg px-8 py-3 mb-16">View recent work</a>
  <div class="w-4/5 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="bg-neutral-100 rounded-lg min-h-[60vh] z-10"></div>
    <div class="bg-neutral-100 rounded-lg min-h-[60vh] z-10"></div>
    <div class="bg-neutral-100 rounded-lg min-h-[60vh] z-10"></div>
    <div class="bg-neutral-100 rounded-lg min-h-[60vh] z-10"></div>
  </div>
</div>