---
import Container from "./Container.astro"

---

<div class="flex flex-col items-center py-16">
  <h2 class="text-4xl font-light mb-6">Membership benefits</h2>
  <p class="font-light text-lg mb-4">Perks you will love!</p>
  <a class="bg-black text-white rounded-lg px-8 py-3" style="box-shadow: 4px 4px 1px 1px #2224">See plans</a>
</div>
<div class="w-full relative isolate">
  <div class="min-w-[400px] min-h-[200px] absolute top-0 left-0 bg-neutral-100 z-0"></div>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-24 py-12">
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-lg mb-4 z-10">Fixed Montyhly rate</h3>
        <p class="w-4/5 text-center font-light leading-6 text-lg z-10">Add as many design requests to your board as you'd like.</p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-lg mb-4">Royalty free msuic</h3>
        <p class="w-4/5 text-center font-light leading-6 text-lg">Get your design one at a time in just a few days on average.</p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-lg mb-4">Premium assets</h3>
        <p class="w-4/5 text-center font-light leading-6 text-lg">No surprises here! Pay the same fixed price each month.</p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-lg mb-4">High quality</h3>
        <p class="w-4/5 text-center font-light leading-6 text-lg">Insane design quality at your fingertips whenever you need it.</p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-lg mb-4">Unlimted storage for final videos</h3>
        <p class="w-4/5 text-center font-light leading-6 text-lg">Scale up or down as needed, and pause or cancel at anytime.</p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-lg mb-4">Dedicated slack channel</h3>
        <p class="w-4/5 text-center font-light leading-6 text-lg">Each of your designs is made especially for you and is 100% yours.</p>
      </div>
    </div>
  </Container>
</div>
<div class="w-full relative pt-24">
  <div class="top-0 left-0 min-w-[400px] min-h-[120px] absolute bg-neutral-100"></div>
  <Container>
    <div class="md:col-span-4 bg-orange-50 flex flex-col items-center p-8 relative isolate">
        <div class="absolute w-1/2 h-full min-h-full min-w-[50%] top-0 left-0 bottom-0 bg-orange-100 z-0"></div>
        <i class="fa-solid fa-quote-left text-5xl text-orange-500 mt-8 z-[1]"></i>
        <p class="text-center text-2xl font-thin text-neutral-700 my-4 z-[1]">Designjoy shows that they know the art of subtlety.</p>
        <p class="text-2xl font-bold mb-8 z-[1]">Company</p>
      </div>
  </Container>
</div>